.menu-inner {
  display: flex;
  justify-content: flex-start;
}

.ion-menu {
  display: flex;
  flex-direction: column;
}

.menu-side-start {
  display: flex;
  justify-content: flex-start;
  margin-top: 55px;
}

.contents {
  color: black !important;
}

.accordion-animated {
  box-shadow: none;
}
