.alertOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alertMessage {
  background-color: white;
  border-radius: 14px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.alertMessage .buttons {
  margin-top: 20px;
  justify-content: space-around;
}

.alertMessage .alertTitle {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bolder;
}


.alertMessage .buttons ion-button{
  border-radius: 10px;
}